*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/tmp
node_modules
.vs
.sfdx
test/commands/package/version/*
test/*
packages/core/lib/*
packages/sfpowerkit-cli/lib/*
packages/sfpowerkit-cli/lib/*
packages/core/tsconfig.tsbuildinfo
